@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Protest'; /* Use a custom name to reference your font */
  src: url('/public/ProtestRiot-Regular.ttf') format('truetype'); /* Path to your .ttf font file */
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
