@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Protest'; /* Use a custom name to reference your font */
  src: url('/public/ProtestRiot-Regular.ttf') format('truetype'); /* Path to your .ttf font file */
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Protest', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn-1 {
  border: white 1px solid;
  padding: 8px;
  font-size: 1.5rem;
  border-radius: 12px;
  font-weight: 800;
  height: 50%;
  margin-top: 15px;
}

.btn-1:hover{
  background-color: white;
  color:black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-txt {
  font-size: 52px;
  font-family: 'Protest', sans-serif;
  text-align: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .btn-1 {
    border: white 1px solid;
    padding: 6px;
    font-size: 1rem;
    border-radius: 12px;
    font-weight: 800;
    height: 50%;
    margin-top: 15px;
  }

  .header-txt {
    font-size: 22px;
    font-family: 'Protest', sans-serif;
    text-align: center;
  }
}